.projects__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

@media screen and (max-width: 1250px) {
  .projects__container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
}

@media screen and (max-width: 700px) {
  .projects__container {
    grid-template-columns: 1fr;
  }
}
