.header {
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 80px;
  box-sizing: border-box;
  font-family: "JetBrains Mono", "Arial", sans-serif;
  font-size: 25px;
  line-height: 33px;
  color: #020c18cc;
}

.header__photo {
  min-width: 82px;
  height: 82px;
  border-radius: 50%;
  object-fit: cover;
}

.header__intro {
  display: flex;
  flex-basis: 450px;
  flex-direction: column;
  margin-left: 30px;
}

.header__name {
  white-space: nowrap;
}

.header__nav {
  margin: 0 0 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  list-style-type: none;
  flex-basis: 610px;
}

.header__nav-link {
  text-decoration-line: none;
  color: #020c18cc;
  white-space: nowrap;
  margin-left: 15px;
}

.header__nav-link:hover {
  color: #98ce00;
}

.header__text_color-green {
  color: #98ce00;
}
